
@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_wxsi3oms9u7syvi.eot?t=1481272932234'); /* IE9*/
    src: url('//at.alicdn.com/t/font_wxsi3oms9u7syvi.eot?t=1481272932234#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_wxsi3oms9u7syvi.woff?t=1481272932234') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_wxsi3oms9u7syvi.ttf?t=1481272932234') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_wxsi3oms9u7syvi.svg?t=1481272932234#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e645"; }

.icon-xuanzhong:before { content: "\e64f"; }

.icon-iconziti50:before { content: "\e651"; }

.icon-lianjie:before { content: "\e67a"; }

.icon-arrow:before { content: "\e647"; }

.icon-wechat:before { content: "\e600"; }

.icon-alipay:before { content: "\e601"; }

.icon-info:before { content: "\e602"; }

.icon-gift:before { content: "\e603"; }

.icon-address:before { content: "\e604"; }

.icon-personalinfo:before { content: "\e605"; }

.icon-settings:before { content: "\e606"; }

.icon-buysuccess:before { content: "\e607"; }

.icon-norecord:before { content: "\e608"; }

.icon-password:before { content: "\e609"; }

.icon-phone:before { content: "\e60a"; }

.icon-me:before { content: "\e60b"; }

.icon-share:before { content: "\e60c"; }

.icon-oneyuan:before { content: "\e60d"; }

.icon-staff:before { content: "\e60e"; }

.icon-photo:before { content: "\e60f"; }

.icon-buyfail:before { content: "\e610"; }

.icon-trumpet:before { content: "\e611"; }

.icon-oneyuan1:before { content: "\e612"; }

.icon-content:before { content: "\e613"; }

.icon-pv:before { content: "\e614"; }

.icon-time:before { content: "\e615"; }

.icon-coupon:before { content: "\e616"; }

.icon-coins:before { content: "\e617"; }

.icon-wallet:before { content: "\e618"; }

.icon-send:before { content: "\e619"; }

.icon-wechatnumber:before { content: "\e61a"; }

.icon-telephone:before { content: "\e61b"; }

.icon-email:before { content: "\e61c"; }

.icon-address1:before { content: "\e61d"; }

.icon-store:before { content: "\e61e"; }

.icon-picture:before { content: "\e61f"; }

.icon-businesscard:before { content: "\e620"; }

.icon-mysale:before { content: "\e621"; }

.icon-close:before { content: "\e622"; }

.icon-mystore:before { content: "\e623"; }

.icon-exclamation:before { content: "\e624"; }

.icon-transactions:before { content: "\e625"; }

.icon-customerservice:before { content: "\e626"; }

.icon-winner:before { content: "\e627"; }

.icon-notselected:before { content: "\e628"; }

.icon-selected:before { content: "\e629"; }

.icon-edit:before { content: "\e62a"; }

.icon-delete:before { content: "\e62b"; }

.icon-balance:before { content: "\e62c"; }

.icon-rules:before { content: "\e62d"; }

.icon-user:before { content: "\e62e"; }

.icon-coin:before { content: "\e62f"; }

.icon-defaultavatar:before { content: "\e630"; }

.icon-fingerprint:before { content: "\e631"; }

.icon-fold:before { content: "\e632"; }

.icon-unfold:before { content: "\e633"; }

.icon-qrcode:before { content: "\e634"; }

.icon-weixinjiangzuofanhui:before { content: "\e646"; }

.icon-wechat-copy:before { content: "\e635"; }

.icon-info-copy:before { content: "\e636"; }

.icon-gift-copy:before { content: "\e637"; }

.icon-leavingamessage:before { content: "\e643"; }

.icon-Zambia:before { content: "\e644"; }

.icon-address-copy:before { content: "\e638"; }

.icon-personalinfo-copy:before { content: "\e639"; }

.icon-settings-copy:before { content: "\e63a"; }

.icon-buysuccess-copy:before { content: "\e63b"; }

.icon-norecord-copy:before { content: "\e63c"; }

.icon-password-copy:before { content: "\e63d"; }

.icon-phone-copy:before { content: "\e63e"; }

.icon-phone-copy1:before { content: "\e63f"; }

.icon-me-copy:before { content: "\e640"; }

.icon-share-copy:before { content: "\e641"; }

.icon-oneyuan-copy:before { content: "\e642"; }

.icon-diqiu:before { content: "\e64a"; }

.icon-weibofenxiang:before { content: "\e64b"; }

.icon-weibopinglun:before { content: "\e64c"; }

.icon-weiboxiala:before { content: "\e64d"; }

.icon-zan:before { content: "\e64e"; }

.icon-dashangnew:before { content: "\e650"; }

.icon-dianzan:before { content: "\e648"; }

.icon-dianzanhou:before { content: "\e649"; }
